.cart-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 2;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.empty-cart {
    text-align: center;
}

