.cart-screen-container {
    max-width: 1200px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column; 
}

.cart-summary-container {
    display: flex;
    gap: 3rem;
    padding: 2em;
}

.check-out-error-container {
    display: flex;
    gap: .25rem;
    font-size: .75rem;
    color: #b02a37;
    justify-content: center;
    padding-top: 1rem;
}