.navbar-brand {
    align-items: center;
}

.bi-code-square {
    pointer-events: none;
}

.bi-cart2, .bi-shop, .bi-person, .bi-person-check {
    font-size: 1.2rem;
}

.bi-bag {
    color: #F8F9FA;
    font-size: xx-large;
    position: relative;
}

.cart-quantity {
    position: absolute;
    top: 17px;
    left: 1px;
    width: 30px;
    height: 30px;
    font-style: normal;
    font-size: 1rem;
    line-height: normal;
    text-align: center;
}

.brand-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.navbar-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.navbar button {
    all: unset;
    color: #F8F9FA;
    cursor: pointer;
    
}

.nav-link.active {
    --bs-navbar-active-color: #6ea8fe;
    color: var(--bs-navbar-active-color);
}
