.cart-item-container, .cart-item-content {
    display: flex;
}

.cart-item-container {
    height: 6rem;
}

.cart-item-image-container {
    display: flex;
    align-items: center;
}

.cart-item-image-container img {
    width: 96px;
    max-height: 96px;
   
}

.cart-item-content {
    display: flex;
    gap: 10px;
}

.col-md-8 {
    display: flex;
    align-items: center;
}

.remove-cart-item {
    border: none;
}

.col-md-8 .card-body .card-text {
    margin: 0;
}
